.audio-page__container
  margin: 40px 100px
  .audio-page__title
    font-weight: normal

  .audio-actions__container
    color: $primary-color
    cursor: pointer

  .audio-actions__container > .row
    padding: 20px 0
    margin-bottom: 0

  .audio-actions__container > .row:last-of-type
    border-top: 1px solid $table-border-color

  .delete__container
    color: $error-color

  .delete__container img
    margin: 0 5px 0 0
    vertical-align: middle
    display: inline-block
    height: 20px

  .edit__button
    background-color: $primary-color
    color: white
    text-transform: capitalize
    padding: 10px
    width: 100%
    text-align: center
    font-size: 1em
    font-weight: lighter

  .edit__button--disabled
    background-color: $table-border-color
    cursor: not-allowed

  .edit__cancel
    background-color: rgba(15, 179, 204, 0.5)
    margin-top: 10px

  .metadata__container .row
    margin: 0

  .md__row
    font-size: 0.75rem
    padding: 10px 0

  .md__row--large
    font-size: 1rem
    border-top: 1px solid $table-border-color
    padding: 10px 0

  .md__row--editing
    font-size: 1rem
    border: 1px solid $primary-color
    padding: 10px 5px

  .md__row--error
    border: 1px solid $error-color

  .md__row--disabled
    opacity: 0.5

  input.title__input
    display: block
    font-size: 2em
    margin: 20px 0 15px 0
    padding-left: 5px
    padding-right: 5px
    width: 100%
    border: 1px solid $primary-color

  input.title__input--error
    border: 1px solid $error-color

  .metadata__inputs
    position: relative
  .metadata__inputs label
    position: absolute
    left: 5px
    top: 11px
  .metadata__inputs input
    padding-left: 100px
    background-color: inherit

  .audio__alert
    font-size: 0.7rem
    color: $error-color

  .react-autosuggest__suggestions-container--open
    top: 41px
    width: 50%

  .copydownload__container
    margin-top: 40px

  .copydownload__container--disabled
    opacity: 0.5

  .copydownload__container > .row
    border-bottom: 1px solid $table-border-color
    text-align: left
    padding: 20px
    margin: 0

  .copydownload__header
    color: $primary-color

  .download__col
    text-align: center

  .download__icon
    height: 15px

  =copy_button
    font-size: 0.7rem
    padding: 3px 7px
    text-transform: uppercase
    margin-bottom: 3px
    margin-left: 10px

  .hover
    +copy_button
    color: $primary-color
    border: 1px solid $primary-color

  .copied
    +copy_button
    color: $green-color
    border: 1px solid $green-color

  .playpause__container
    float: left
    margin-right: 10px

  .playpause__container--disabled
    opacity: 0.5

  =waveform_button
    width: 75px
    cursor: pointer
  .waveform__button__play
    +waveform_button
  .waveform__button__pause
    +waveform_button

  .waveform__container
    margin-left: 75px
    position: relative

  .audio__waveform--disabled
    opacity: 0.5

  .replace__button
    border: 1px solid $primary-color
    padding: 5px 10px
    background: white
    color: $primary-color
    font-weight: bold
    position: absolute
    top: 25px
    left: 50%
    transform: translateX(-50%)
    z-index: $middle-z-index

  .dropzone__container
    height: 80px

  .upload__border--hover
    border: 2px $primary-color dashed
    height: 100%

  .dz-message
    opacity: 0.5

  .upload__dz
    text-align: center

  .queue__text
    color: $primary-color

  =primary_button
    background-color: $primary-color
    color: white
    padding: 5px 10px
    font-size: 0.8rem
    cursor: pointer

  .upload__btn
    +primary_button
    display: inline-block
    margin-top: 1em

  .filename
    margin: 5px 0

  .file__buttons
    +primary_button
    margin: 5px

  .file__buttons--faded
    background-color: $secondary-background-color

  .valign
    text-align: center

=delete_button
  width: 55px
  margin: 20px 5px
  color: white
  padding: 5px 10px
  display: inline-block
  cursor: pointer

.delete__yes
  +delete_button
  background-color: $error-color

.delete__no
  +delete_button
  background-color: $primary-color