.audio-page__container
  margin: 40px

  .audio-page__title
    font-weight: normal

  .audio-actions__container
    color: $primary-color
    cursor: pointer

  .image__container img
    margin: 0 5px 0 0
    vertical-align: middle
    display: inline-block
    height: 20px

  .delete__container
    color: $error-color

  .edit__container
    height: 100px

  .edit__button
    background-color: $primary-color
    color: white
    text-transform: capitalize
    padding: 10px
    width: 150px
    text-align: center
    font-size: 1em
    font-weight: lighter

  .edit__cancel
    background-color: rgba(15, 179, 204, 0.5)
    margin-top: 10px

  .metadata__container .row
    margin: 0
  .md__row
    font-size: 0.75rem
    padding: 10px 0
  .md__row--large
    font-size: 1rem
    border-top: 1px solid $table-border-color
    padding: 10px 0
    border-bottom: 1px solid $table-border-color
  .md__row--large:first-child
    border-bottom: 0
