.embed__audio-player
	height: 211px
	padding-left: 29px
	padding-right: 28.1px
	padding-top: 21px

.embed__audio-player-top
	align-items: center
	display: flex
	margin-bottom: 25px

.embed__play-pause:hover
	cursor: pointer

.embed__image
	height: 100px
	width: 100px

.embed__audio-info
	display: flex
	flex-direction: column
	margin-left: 26px

	.embed__title
		font-size: 22px
		font-weight: 600

	.embed__contributors
		font-size: 20px

.embed__timestamp
	float: right
	right: 29.1px
