.embed__audio-player
	height: 211px

.embed__audio-player-top
	align-items: center
	display: flex

.embed__play-pause:hover
	cursor: pointer

.embed__image
	height: 100px
	width: 100px

.embed__audio-info
	margin-left: 26px
