.embed__audio-player
	display: flex
	height: 211px
	overflow: hidden

	wave
		overflow: hidden !important

	wave:hover
		cursor: pointer

.embed__image
	background-position: center
	background-size: cover
	height: 100%
	min-width: 210px

.embed__audio-container
	box-sizing: border-box
	padding-left: 29px
	padding-right: 28.1px
	padding-top: 21px
	width: 100%

	.embed__audio-player-top
		align-items: center
		display: flex
		margin-bottom: 13px

	.embed__play-pause
		min-height: 65px
		min-width: 65px

	.embed__play-pause:hover
		cursor: pointer

	.embed__audio-info
		display: flex
		flex-direction: column
		margin-left: 26px
		width: 80%

		.embed__title
			font-size: 22px
			font-weight: 600

		.embed__contributors
			font-size: 20px

.embed__audio-container--with-image
  width: calc(100% - 210px)

.embed__timestamp
	float: right
	font-size: 14px
	margin-right: 5px
	margin-top: 10px

.overflow-ellipsis
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
	word-break: normal

@media only screen and (max-width: 675px)
	.embed__image
		display: none

	.embed__audio-container--with-image
		width: 100%