
body
  font-family: 'Source Sans Pro', sans-serif
  margin: 0

button
  border: none
  background-color: inherit
  outline: none
  cursor: pointer

button:focus
  outline: -webkit-focus-ring-color auto 5px

.hidden
  display: none

.root__container
  width: 100%

.row.header__row
  margin-bottom: 0
  border-bottom: 1px solid $table-border-color

.header__stamp
  width: 15px
  padding-right: 10px
  border-right: 1px solid $table-border-color
  margin-right: 10px

.header__h1
  margin: 5px 0
  color: $primary-color
  text-transform: uppercase
  font-weight: normal
  font-size: 1.3em
  vertical-align: middle

.header__link
  text-decoration: none
  color: inherit
  cursor: pointer

.header__actions
  margin: 7px 0

.header__button
  border: 1px solid $primary-color
  padding: 5px 12px
  text-transform: uppercase
  color: $primary-color
  font-weight: 0.9em

.body__container
  margin: 0 20px

// Pagination

.pagination
  text-align: center

  li
    display: inline-block
    border-radius: 2px
    text-align: center
    vertical-align: top
    height: 30px

    a
      color: #444
      display: inline-block
      padding: 0 10px
      line-height: 30px
      text-decoration: none

    &.active a
      color: #fff

    &.active
      background-color: $primary-color

    &.disabled a
      cursor: default
      color: #999

    i
      font-size: 1.2rem

  li.pages ul li
    display: inline-block
    float: none
